{% extends '../base_form.html' %}
    {% block head%}
        <title>edit PuntosCapitulo</title>
    {% endblock %}
    {% block body %}
        <form action="/update/puntoscap/{{pc.id_pc}}" method="POST"> {% csrf_token %}
            <select name="id_pc_md">
                {% for pc_modelo in pc_modelos %}
                    {% if pc_modelo.id_md == pc.id_pc_md.id_md %}
                        <option selected value="{{pc_modelo.id_md}}">{{pc_modelo.str_md_nombre}}</option>
                    {% else %}
                        <option value="{{pc_modelo.id_md}}">{{pc_modelo.str_md_nombre}}</option>
                    {%endif%}
                {% endfor %}
            </select>
            <input type="text" name="str_pc_nombre" value="{{pc.str_pc_nombre}}">
            <input type="text" name="str_pc_descripcion" value="{% if pc.str_pc_descripcion %}{{pc.str_pc_descripcion}}{%endif%}">
            <select name="id_pc_am">
                {% for pc_ambito in pc_ambitos %}
                    {% if pc_ambito.id_am == pc.id_pc_am.id_am %}
                        <option selected value="{{pc_ambito.id_am}}">{{pc_ambito.str_am_nombre}}</option>
                    {% else %}
                        <option value="{{pc_ambito.id_am}}">{{pc_ambito.str_am_nombre}}</option>
                    {%endif%}
                {% endfor %}
            </select>
            <input type="submit" value="Enviar">
        </form>
        <a href="/show/puntoscap/{{pc.id_pc}}">Volver atrás</a>
    {% endblock%}