{% extends '../base_form.html' %}
    {% block head %}
        <title>new puntoscapitulo</title>
    {% endblock %}
    {% block body %}
        <form action="/create/puntoscap" method="POST"> {% csrf_token %}
        <div class="form-group row">
            <label for="modelo" class="col-sm-2 col-form-label">modelo del capitulo</label>
            <div class="col-sm-10">
                <select class="form-control" name="id_pc_md" id="modelo">
                <option disabled selected value>Elige una opicón</option>
                {% for pc_modelo in pc_modelos %}
                    <option value="{{pc_modelo.id_md}}">{{pc_modelo.str_md_nombre}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="str_pc_nombre" id="nombre">
            </div>
        </div>
        <div class="form-group row">
            <label for="descripcion" class="col-sm-2 col-form-label">Descripción:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="str_pc_descripcion" id="descripcion">
            </div>
        </div>
        <div class="form-group row">
            <label for="ambito" class="col-sm-2 col-form-label">ambito del capitulo</label>
            <div class="col-sm-10">
                <select class="form-control" name="id_pc_am" id="ambito">
                <option disabled selected value>Elige una opicón</option>
                {% for pc_ambito in pc_ambitos %}
                    <option value="{{pc_ambito.id_am}}">{{pc_ambito.str_am_nombre}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" value="Enviar">
        </form>
        <a href="/index/puntoscap">Volver atrás</a>
        <br>
        </form>
    {% endblock %}