{% extends '../base_index.html' %}
    {% block head %}
        <title>Indice de Areas Geográficas</title>
        
    {% endblock %}
   
    {% block thead %}
    <th> ID: </th>
    <th> Nivel Área Geográfica:</th>
    <th> Nombre:</th>
    <th> Ver:</th>
    <th> Editar:</th>
    <th> Eliminar:</th>
    {% endblock %}
    {% block body %}
    <a href="/new/area_geografica">Crear nueva Area Geográfica</a>
    {% endblock %}
    {% block tbody %}
        {% if ags %}
            {% for ag in ags %}
            <tr>
                <td>{{ag.id_ag}}</td>
                <td>{{ag.id_ag_nag.str_nag_nombre}}</td>
                <td>{{ag.str_ag_nombre}}</td>
                <td><a class="btn btn-xs far fa-eye" href="/show/area_geografica/{{ag.id_ag}}"></a></td>
                <td><a class="btn btn-primary btn-xs fas fa-pen" href="/edit/area_geografica/{{ag.id_ag}}"></a></td>
                <td><a class="btn btn-danger btn-xs  fas fa-trash-alt  fas fa-trash-alt" href="/delete/area_geografica/{{ag.id_ag}}"></a></td>
                </tr>
            {% endfor %}
        {% else %}
            <h2>No se ha encontrado ningúna Area Geográfica creada</h2>
        {% endif %}
    {% endblock %}