{% extends '../base_form.html' %}
    {% block head%}
        <title>edit modelo</title>
    {% endblock %}
    {% block body %}
        <form action="/update/modelo/{{modelo.id_md}}" method="POST"> {% csrf_token %}
            <select name="id_md_emp">
                {% for modelo_emp in modelo_emps %}
                    {% if modelo_emp.id_emp == modelo.id_modelo_emp.id_emp %}
                        <option selected value="{{modelo_emp.id_emp}}">{{modelo_emp.str_emp_nombre}}</option>
                    {% else %}
                        <option value="{{modelo_emp.id_emp}}">{{modelo_emp.str_emp_nombre}}</option>
                    {%endif%}
                {% endfor %}
            </select>
            <input type="text" name="str_md_nombre" value="{{modelo.str_md_nombre}}">
            <input type="text" name="str_md_descripcion" value="{% if modelo.str_md_descripcion %}{{modelo.str_md_descripcion}}{%endif%}">
            <input type="submit" value="Enviar">
        </form>
        <a href="/show/modelo/{{modelo.id_md}}">Volver atrás</a>
    {% endblock%}