{% extends '../base_form.html' %}
    {% block head %}
        <title>new Modelo</title>
    {% endblock %}
    {% block body %}
        <form action="/create/modelo" method="POST"> {% csrf_token %}
        <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="str_md_nombre" id="nombre">
            </div>
        </div>
        <div class="form-group row">
            <label for="emp" class="col-sm-2 col-form-label">Id Empresa:</label>
                <select name="id_md_emp">
                    {% for modelo_emp in modelo_emps %}
                        <option value="{{modelo_emp.id_emp}}">{{modelo_emp.str_emp_nombre}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" value="Enviar">
        </form>
        <a href="/index/modelo">Volver atrás</a>
        <br>
        </form>
    {% endblock %}