<html>
    <head>
        <title>
            Ambito {{ambito.Nombre}}/{{ambito.Id}}
        </title>
    </head>
    <body>
        <h2>ID: {{ambito.Id}}</h2>
        <h2>Nombre:</h2>
        <p>{{ambito.Nombre}}</p>
        <br>
        <h2>Descripción:</h2>
        {% if ambito.Descripcion %}
            <p>{{ambito.Descripcion}}</p>
        {% else %}
            <p>No se ha encontrado descripción del ámbito</p>
        {% endif %}
        <a href="/edit/ambito/{{ambito.Id}}">Editar</a>
        <a href="/delete/ambito/{{ambito.Id}}">Borrar</a>
        <a href="/index/ambito">Volver atrás</a>
    </body>
</html>