{% extends '../base_form.html' %}
    {% block head %}
        <title>new objmarking</title>
    {% endblock %}
    {% block body %}
        <form action="/create/objetivo" method="POST"> {% csrf_token %}
        <div class="form-group row">
            <label for="to" class="col-sm-2 col-form-label">Tipo Objetivo</label>
            <div class="col-sm-10">
                <select class="form-control" name="id_ob_to" id="to">
                <option disabled selected value>Elige una opcion</option>
                {% for obj_to in obj_tos %}
                    <option value="{{obj_to.id_to}}">{{obj_to.str_to_nombre}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="str_ob_nombre" id="nombre">
            </div>
        </div>
        <div class="form-group row">
            <label for="codificacion" class="col-sm-2 col-form-label">Codificacion:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="str_ob_codificacion" id="codificacion">
            </div>
        </div>
        <div class="form-group row">
            <label for="descripcion" class="col-sm-2 col-form-label">Descripción:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="str_ob_descripcion" id="descripcion">
            </div>
        </div>
        <div class="form-group row">
            <label for="any" class="col-sm-2 col-form-label">Año:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="num_ob_any" id="any">
            </div>
        </div>
        <div class="form-group row">
            <label for="pc" class="col-sm-2 col-form-label">Capitulo:</label>
            <div class="col-sm-10">
                <select class="form-control" name="id_ob_pc" id="pc">
                    <option disabled selected value >Elige una opción</option>
                    {% for obj_pc in obj_pcs %}
                        <option value="{{obj_pc.id_pc}}">{{obj_pc.str_pc_nombre}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="parent" class="col-sm-2 col-form-label">Objetivo Padre:</label>
            <div class="col-sm-10">
                <select class="form-control" name="id_ob_parent" id="parent">
                    <option disabled selected value >Elige una opción</option>
                    {% for obj in objs %}
                        <option value="{{obj.id_ob}}">{{obj.str_ob_nombre}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" value="Enviar">
        </form>
        <a href="/index/objetivo">Volver atrás</a>
        <br>
        </form>
    {% endblock %}